.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(87, 81, 81);
  padding: 10px 20px;
  border-bottom: 2px solid black;
  margin-left: 250px;
}

.logo {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 5px 10px;
  width: 50%;
}

.search-container {
  align-items: center;
  background: #f8f8f8;
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 45%;
}

.search-container input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 15px;
}


.icons {
  display: flex;
  gap: 20px;
}

.icons i {
  font-size: 30px;
  cursor: pointer;
  color: black;
}


/* Design Responsive */
@media (min-width: 1500px) and (max-width: 1920px){
  .navbar {
    width: calc(100% - 300px);
  }
  .search-container {
    width: 60%;
  }
  .icons {
    padding-right: 90px;
  }
}


@media (min-width: 1025px) and (max-width: 1499px){
  .navbar {
    width: calc 250px;
  }

  .icons{
    padding-right: 80px;
    gap: 10px;
  }

  .search-container{
    width: 65%;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .navbar {
    padding: 10px 50px;
    margin-left: 200px;
  }

  .icons{
    padding-right: 35px;
    gap: 7px;
  }

  .search-container{
    width: 65%;
  }

  .logo {
    margin-left: 20px;
  }
}


@media (min-width:496px) and (max-width: 768px ) {
  .navbar {
    width: calc(100% - 60px);
    margin-left: 60px;
    padding: 10px;
  }

  .logo{
    margin-left: 60px;
    width: 30px;
    height: 30px;
  }

  .search-container{
    width: 70%;
  }

  .icons{
    padding-right: 60px;
    gap: 10px;
  }
}
