table {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/* Tittle */
.tittle{
  color:  #840606;
  font-size: 50px;
  margin-top: 6%;
  margin-bottom: -2%;
  margin-left: 19%;
}

.tittle i{
   color:  #840606;
  font-size: 80px;
}

/* Place Holder */
.mat-mdc-form-field {
  width: 70%;
  margin-left: 20%;
}

/* Table */
.mat-elevation-z8 {
  width: 80%;
  margin-left: 15%;
}


/* Content to Email and Role */
.mat-column-Email,
.mat-column-Role{
  width: 300px;
  text-align: left;
  border-bottom: 2px solid black;
  text-align: left;
}

/* Content to Actions */
.mat-column-Actions{
  width: 10px;
  text-align: left;
  border-bottom: 2px solid black;
}

/*Header Table*/
th.mat-column-Email,
th.mat-column-Role,
th.mat-column-Actions {
  background-color: #840606;
  color: white;
  font-weight: bold;
  border-bottom: 2px solid black;
  font-size: 20px;
}

/* Paginator*/
.mat-mdc-paginator {
  background-color: #840606;
  color: white;
  display: block;
}

/* Rows to filter ASC or DESC (Email,Role) */
::ng-deep .mat-sort-header-arrow {
  color: white;
  font-weight: bold;
  opacity: 1;
}


/* Buttons to delete and update */
button{
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 16px;
  border: none;
  background-color:   #d9e7ff;
  color:  black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  background-color:  #840606;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



/* Responsive Design */
@media (min-width: 1500px ) and (max-width: 1920px){
  /* Table */
  .mat-elevation-z8{
    width: 75%;
    margin-left: 19%;
  }

  /* Place Holder */
  .mat-mdc-form-field{
    width: 73%;
    margin-left: 19%;
  }

  .tittle{
    font-size: 50px;
    margin-left: 19%;
  }
}

@media (min-width: 1250px) and (max-width: 1499px){
  /* Table */
  .mat-elevation-z8{
    width: 75%;
    margin-left: 20%;
  }

  /* Place Holder */
  .mat-mdc-form-field{
    margin-left: 20%;
  }

  .tittle{
    font-size: 40px;
    margin-left: 20%;
  }

  .tittle i{
    font-size: 70px;
  }
}

@media (min-width:1100px) and (max-width:1249px) {

  /* Table */
  .mat-elevation-z8{
    width: 68%;
    margin-left: 26%;
  }

  /* Place Holder */
  .mat-mdc-form-field{
    width: 64%;
    margin-left: 26%;
  }

  .tittle{
    font-size: 30px;
    margin-left: 26%;
  }

  .tittle i{
    font-size: 60px;
  }
}

@media (min-width: 771px) and (max-width: 1099px) {

  /* Table */
  .mat-elevation-z8{
    width: 58%;
    margin-left: 37%;
  }

  /* Place Holder */
  .mat-mdc-form-field{
    width: 54%;
    margin-left: 37%;
  }

  .tittle{
    font-size: 20px;
    margin-left: 37%;
  }

  .tittle i{
    font-size: 50px;
  }
}

@media (min-width: 600px) and (max-width: 770px) {
   /* Table */
   .mat-elevation-z8{
    width: 70%;
    margin-left: 23%;
  }

  /* Place Holder */
  .mat-mdc-form-field{
    width: 55%;
    margin-left: 23%;
  }

  .tittle{
    font-size: 15px;
    margin-left: 21%;
    margin-bottom: 2px;
  }

  .tittle i{
    font-size: 30px;
  }
}

@media (min-width: 522px) and (max-width: 599px) {
  /* Table */
  .mat-elevation-z8{
   width: 60%;
   margin-left: 32%;
 }

 /* Place Holder */
 .mat-mdc-form-field{
   width: 50%;
   margin-left: 32%;
 }

 .tittle{
   font-size: 10px;
   margin-left: 33%;
   margin-bottom: 2px;
 }

 .tittle i{
   font-size: 30px;
 }
}


@media (min-width:496px) and (max-width: 521px) {
  /* Table */
  .mat-elevation-z8{
   width: 70%;
   margin-left: 29%;
 }

 /* Place Holder */
 .mat-mdc-form-field{
   width: 45%;
   margin-left: 29%;
 }

 .tittle{
   font-size: 10px;
   margin-left: 30%;
   margin-bottom: 2px;
 }

 .tittle i{
   font-size: 30px;
 }
}

@media (max-width: 425px){
  /* Table */
  .mat-elevation-z8 {
    width: 70%;
    margin-left: 28%;
  }

  /* Place Holder */
  .mat-mdc-form-field {
    width: 55%;
    margin-left: 31%;
  }

  .tittle {
    font-size: 16px;
    margin-left: 31%;
  }

  .tittle i {
    font-size: 30px;
  }

  /* Content to Email and Role */
  .mat-column-Email,
  .mat-column-Role {
    width: 5%;
    font-size: 10px;
  }

  /* Content to Actions */
  .mat-column-Actions {
    width: 4px;
  }

  /*Header Table*/
  th.mat-column-Email,
  th.mat-column-Role,
  th.mat-column-Actions {
    font-size: 100%;
  }

  /* Buttons to delete and update */
  button {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
}


@media (max-width: 375px){
  /* Table */
  .mat-elevation-z8 {
    width: 77%;
    margin-left: 31%;
  }

  /* Place Holder */
  .mat-mdc-form-field {
    width: 55%;
    margin-left: 45%;
  }

  .tittle {
    font-size: 16px;
    margin-left: 35%;
  }

  .tittle i {
    font-size: 30px;
  }

  /* Content to Email and Role */
  .mat-column-Email,
  .mat-column-Role {
    width: 5%;
    font-size: 10px;
  }

  /* Content to Actions */
  .mat-column-Actions {
    width: 4px;
  }

  /*Header Table*/
  th.mat-column-Email,
  th.mat-column-Role,
  th.mat-column-Actions {
    font-size: 100%;
  }

  /* Buttons to delete and update */
  button {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
}


@media (max-width: 320px){
  /* Table */
  .mat-elevation-z8 {
    width: 70%;
    margin-left: 35%;
  }

  /* Place Holder */
  .mat-mdc-form-field {
    width: 70%;
    margin-left: 45%;
  }

  .tittle {
    font-size: 16px;
    margin-left: 40%;
  }

  .tittle i {
    font-size: 30px;
  }

  /* Content to Email and Role */
  .mat-column-Email,
  .mat-column-Role {
    width: 5%;
    font-size: 10px;
  }

  /* Content to Actions */
  .mat-column-Actions {
    width: 4px;
  }

  /*Header Table*/
  th.mat-column-Email,
  th.mat-column-Role,
  th.mat-column-Actions {
    font-size: 100%;
  }

  /* Buttons to delete and update */
  button {
    width: 40px;
    height: 40px;
    font-size: 12px;
  }
}
