<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h1>Crear Nueva Cuenta</h1>
  <p>
    <a href="login" class="signin-link">Ingresar</a> Si ya tienes una cuenta
  </p>

  <!-- Input Email -->
  <input type="email" formControlName="email" placeholder="Email" required />
  <div *ngIf="email?.invalid && (email?.touched || email?.dirty)" class="error">
    <div *ngIf="email?.errors?.['required']">El email es requerido.</div>
    <div *ngIf="email?.errors?.['email']">El email no es válido.</div>
  </div>

  <!-- Input Password -->
  <input type="password" formControlName="password" placeholder="Password" required />
  <div *ngIf="password?.invalid && (password?.touched || password?.dirty)" class="error">
    <div *ngIf="password?.errors?.['required']">La contraseña es requerida.</div>
    <div *ngIf="password?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</div>
  </div>

  <!-- Checkbox -->
  <div class="checkbox-container">
    <input type="checkbox" formControlName="terms" id="terms" />
    <label for="terms">Acepto términos y condiciones</label>
  </div>
  <div *ngIf="terms?.invalid && (terms?.touched || terms?.dirty)" class="error">
    <div *ngIf="terms?.errors?.['requiredTrue']">Debes aceptar los términos y condiciones.</div>
  </div>

  <!-- Button to send -->
  <button type="submit" class="btn-create" [disabled]="registerForm.invalid">
    Crear Cuenta
  </button>
</form>
